*.vs
CrossyRoad/x64/Release/*
CrossyRoad/CrossyRoad/x64/Release/*
x64/Debug/*.exe
x64/Debug/*.ilk
x64/Debug/*.pdb
x64/Release/*.exe
x64/Release/*.ilk
x64/Release/*.pdb
OpenGL-basico/Debug/*
OpenGL-basico/Release/*
Release/*